.partner{
    padding-top: 64px;
    padding-bottom: 77px;
}
.partner__title{
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: rgb(39, 37, 37);
}
.partner__img{
    width: 120px;
    height: 120px;
}
.partner__name{
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: $totle-color;
}
.partner__item{
    width: 225px;
}